@use "../1-Helpers/helpers" as *;

.popup-container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: grid;
  place-items: center;
  z-index: 2;
  background-color: #282828c0;
  backdrop-filter: blur(1rem);
  -webkit-backdrop-filter: blur(1rem);
}

.popup-form {
  background-color: #fff;
  width: 30rem;
  height: 12rem;
  border-radius: 3rem;
  padding: 2rem;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
