@use "../1-Helpers/helpers" as *;

.wallet-container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 6vh auto 6vh / 6rem auto;
}
.nav {
  width: 100%;
  background-color: rgb(174, 174, 167);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 3rem 0.5rem 0.5rem;
  grid-row: 1 / 2;
  grid-column: 1 / 3;
}
.nav-net {
  align-self: center;
}
.side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;

  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #00ffff7f;
  .added-accounts {
    flex-basis: auto;
    .wallets-saved {
      width: 4rem;
      background-color: beige;
      display: grid;
      place-items: center;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      font-size: 2rem;
      &.active-wallet {
        border: 0.5rem solid green;
      }
    }
  }
  .active-wallet .add-more {
    flex-basis: 4rem;
    width: 4rem;
    background-color: beige;
    display: grid;
    place-items: center;
  }
}
.main-section {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding: 3rem 5rem;
}
.algo-owned-container {
  width: 100%;
  border: 0.3rem solid;
  padding: 2rem;
  margin: 1rem 0;
}
.algo-owned-info {
  width: 100%;
}
.account-info {
  width: 100%;
  background-color: rgb(174, 174, 167);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  div p:nth-child(2) {
    font-size: 1rem;
    button {
      margin-left: 1rem;
    }
  }
}
.transact {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
.spacing {
  margin: 2rem 0;
  height: 0.3rem;
  background-color: black;
}
.asset-owned {
  display: flex;
  gap: 2rem;
  div {
    // &:nth-child(1) {
    // }
    // &:nth-child(2) {
    // }
    &:nth-child(3) {
      margin-left: auto;
    }
  }
}
footer {
  grid-row: 3 / 4;
  grid-column: 1 / 3;
  display: grid;
  place-items: center;
  background-color: rgb(174, 174, 167);
}
@media only screen and (max-width: $tablet) {
  .main-section {
    padding: 2rem;
  }
}
@media only screen and (max-width: $mobile) {
  .transact {
    width: 100%;
  }
}
