@use "../1-Helpers/helpers" as *;

.watch-account-container {
  width: 100vw;
  height: 100vh;
  padding: 5rem;
  p {
    color: grey;
  }
}
.watch-account-form {
  margin: 2rem 0;
  input[type="submit"] {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: $mobile) {
  .watch-account-form {
    input[type="submit"] {
      margin-left: 0;
    }
  }
}
